<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutonoMe.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CLAI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutonoMe.My.MySettings>
            <setting name="HAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="MName" serializeAs="String">
                <value />
            </setting>
            <setting name="CName" serializeAs="String">
                <value />
            </setting>
        </AutonoMe.My.MySettings>
        <CLAI.My.MySettings>
            <setting name="APIK" serializeAs="String">
                <value />
            </setting>
        </CLAI.My.MySettings>
    </userSettings>
</configuration>
